.modal {
	background: white;
	padding: 2.5rem 2.5rem 2rem 2rem;
	border-radius: 8px;
	position: relative;
}

.close-button {
	position: absolute;
	top: 12px;
	right: 12px;
	background: none;
	border: none;
	font-size: 1.8rem;
	cursor: pointer;
	color: #073e4b;
	transition: transform 0.2s ease;
}

.close-button:hover {
	transform: scale(1.2);
}

.modal-info {
	font-size: 1rem;
	color: #555;
	margin-bottom: 1.5rem;
	margin-top:  1rem;
}

.modal-error {
	color: red;
	margin-top: 0.5rem;
}

.modal-register, .modal-login {
	position: fixed;
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex; align-items: center; justify-content: center;
	z-index: 9999;
}


.modal form label {
	display: block;
	margin-bottom: 1rem;
	color: #333;
	font-size: 0.95rem;
}

.modal form input {
	display: block;
	width: 100%;
	padding: 8px;
	margin-top: 0.25rem;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
}

.modal form button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #073e4b; /* mismo color que el navbar */
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 1rem;
}

.modal form button[type="submit"]:hover {
	background-color: #0a4f60;
}

.modal h2 {
	margin-bottom: 1.2rem;
}