.homePage {
	background-image: url('/asturias.jpg'); /* Imagen desde carpeta public */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.homeSide {
	grid-column: 1;
	grid-row: 1/5;
}
.homeTitle {
	color: white;
	grid-column: 3/5;
	grid-row: 3;
}

.homeButton {
	grid-column: 3;
	grid-row: 4;
}