html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.mapPage {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.mapLayout {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.sidebar-toggle {
	position: fixed;
	top: 70px;
	right: 10px;
	z-index: 1002;
	background-color: #073e4b;
	color: white;
	border: none;
	padding: 10px 14px;
	border-radius: 8px;
	cursor: pointer;
}

.map-credit {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: rgba(255, 255, 255, 0.8);
	padding: 6px 10px;
	border-radius: 8px;
	font-size: 0.75rem;
	z-index: 9999;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .map-credit a {
	color: #1e3a5f;
	text-decoration: none;
	font-weight: bold;
  }
  
  .map-credit a:hover {
	text-decoration: underline;
  }
  

@media (max-width: 768px) {
	.mapLayout {
		flex-direction: column;
	}
	
	.sideBar {
		width: 100%;
		height: auto;
		box-shadow: none;
		order: 1;
	}

	.map-leaflet {
		width: 100%;
		flex: 1;
		order: 2;
	}

	.navbar {
		justify-content: space-between;
		padding: 0 1rem;
		height: 60px;
	}

	.navbar-left {
		order: 1;
	}

	.navbar-center {
		display: none;
	}

	.navbar-right {
		order: 3;
	}

	.navbar-logo {
		height: 50px;
	}

	.sideBar {
		position: fixed;
		top: 60px;
		right: -100%;
		left: auto;
		width: 50%;
		height: calc(100vh - 60px);
		background-color: rgba(207, 206, 206, 0.6);
		padding: 1rem;
		box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
		z-index: 1001;
		transition: right 0.3s ease;
	}

	.sideBar.visible {
		right: 0;
	}

	.checkbox-list {
		margin-top: 2rem;
	}
}