* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	background-color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.map-page {
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  
.map-container {
	display: flex;
	flex: 1;
	overflow: hidden;
	position: relative;
}
