.profileCard {
	border: none;
	border-radius: 12px;
	width: 100%;
	max-width: 300px;
	height: auto;
	background-color: #f5f5f5;
	padding: 2rem;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.personIcon {
	margin-bottom: 1.5rem;
}

.personData p {
	margin: 0.5rem 0;
	font-size: 1rem;
}

.editProfileButton {
	margin-top: 1.5rem;
	background-color: #07404c;
	color: white;
	border: none;
	border-radius: 8px;
	padding: 0.5rem 1rem;
	cursor: pointer;
}